<!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
  </head>
  <body>
      <h1>Buscar familiar por nombre</h1>
    
      <form action="/mi-familia/buscar" method="post"> <!--action define la ruta url donde se genera la acción-->
        {% csrf_token %} <!--permite poner una serie de strings q actuen como firma digital-->
        {{ form }} <!--Variable, la vista pasa una instancia de la clase buscar (clase forms). Es el que está en el contexto del request-->
        <input type="submit" value="Submit">
      </form>

      {% for familiar in lista_familiares %}
      <ul>
          <li> Nombre: {{familiar.nombre}}, Dirección: {{familiar.direccion}}, Pasaporte: {{familiar.numero_pasaporte}}</li>
      </ul>
      {% endfor %}

  </body>
  </html>