{% extends 'ejemplo/base.html' %} <!--importa al template de base
    En este template podemos ordenar las partes de cualquier manera y se sigue respetando el
    orden de la base. Solo cambia el orden si cambio la base-->
    <!--Borramos todo el código previo porque ya está en base.html-->
    {% block titulo%} Mi lista de familiares {% endblock %} <!--contenido del block título-->
    
    {% block contenido %}
      {% for familiar in lista_familiares %}
          <ul>
              <li> Nombre: {{familiar.nombre}}, Dirección: {{familiar.direccion}}, Pasaporte: {{familiar.numero_pasaporte}}</li>
          </ul>
      {% endfor %}
    {% endblock %}